#exampleModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      =form_tag invoices_path, multipart: true do
        .modal-header
          %h5#exampleModalLabel.modal-title Invoice
          %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "modal", :type => "button"}
        .modal-body
          .mb-3
            %label.form-label{:for => "formFile"} Select a XML file
            =file_field_tag :xml_file, id: 'formFile', class: 'form-control', accept: 'text/xml'
        .modal-footer
          %button.btn.btn-secondary{"data-bs-dismiss" => "modal", :type => "button"} Cancel
          =submit_tag "Upload", class: 'btn btn-primary'
